.display-no{
    display:none;
}

.reference-table{
    border:1px black solid;
    border-collapse:collapse;
    margin: 5px;
    width: 95%;
}

.reference-table td{
    padding: 15px;
}

.reference-table p{
    padding: 5px;
}